<br>
<div class="d-flex container-fluid justify-content-between">
  <div>
    <h3>
      <strong>
      My interviews
      </strong>
    </h3>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createintModal">Add interview</button>
  </div>
</div>

<hr>

<div class="modal fade bd-example-modal-lg" id="createintModal" tabindex="-1" aria-labelledby="createinterview" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new interview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form action="/insert_interview" method="post">
      <div class="mb-3 form-group">
        <label for="job_title_box" class="col-sm-3 col-form-label">
          Job title
        </label>

        <input type="text" id="job_title_box" name="query_job_title">
      </div>

      <div class="mb-3 form-group">
        <label for="employer_box" class="col-sm-3 col-form-label">
          Employer
        </label>

        <input type="text" id="employer_box" name="query_employer">
      </div>


      <div class="mb-3 form-group">
        <label for="responsibilities_box" class="form-label mt-4">
          Responsibilities
        </label>

        <textarea type="text" class="form-control" id="responsibilities_box" name="query_responsibilities"
          rows="3"> </textarea>
      </div>

      <div class="mb-3 form-group">
      <label for="type_box" class="col-sm-3 col-form-label">Interview Type</label>
      <select class="form-select" id="type_box" name="query_type">
        <option>Informational</option>
        <option>Screening or Telephone </option>
        <option>Small Group or Committee</option>
        <option>Behavioral-Based</option>
        <option>Task Oriented</option>
        <option>Other</option>
      </select>
      </div>

      <div class="mb-3 form-group">
        <label for="date_box" class="col-sm-3 col-form-label">
          Interview Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <button class="btn btn-primary">
        Create interview
      </button>
    </form>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container-fluid">
    <table class="table table-hover">
      <tr class="table-primary">

        <th scope="col">
          Job title
        </th>

        <th scope="col">
          Employer
        </th>

        <th scope="col">
          Type of interview
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_interviews.each do |an_interview| %>
      <tr>
        <td>
          <a href="/interviews/<%= an_interview.id %>">
          <%= an_interview.job_title %>
          </a>
        </td>

        <td>
          <%= an_interview.employer %>
        </td>

        <td>
          <%= an_interview.interview_type %>
        </td>

        <td>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
